*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'ABeeZee', sans-serif;
    transition: all 500ms;
}

body{
    margin: 0% 3%;
}

/* Buscador */

nav{
    display: flex;
    justify-content: space-between;
    background-color: #3475dc;
    border-radius: 4px;
}

.logo{
    margin: 10px;
}

.logo_img{
    width: 50px;
}

.buscador{
    margin: auto 30px;
}

.input{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px 200px;
    font-size: auto;
}

@media (max-width: 1200px){
    .input{
        padding: 10px 150px;
    }
}
@media (max-width: 900px){
    .input{
        padding: 10px 100px;
    }
}
@media (max-width: 600px){
    .input{
        padding: 10px 70px;
    }
}
@media (max-width: 480px){
    .input{
        padding: 10px 30px;
    }
}
@media (max-width: 360px){
    .input{
        padding: 10px 20px;
    }
}

/* Modales */

.main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.open{
    margin: 20px;
    border: solid 0.3px;
    border-radius: 8px;
    width: 300px;
    min-height: 300px;
}
.marca{
    padding: 0;
    margin: 0;
    border-radius: 8px;
}
.btn-abrir-modal{
    width: 300px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #000;
    color: #fff;
}
.btn-abrir-modal:hover{
    background-color: #3475dc;
    transform: scale(1.02);
}
.modal{
    width: 500px;
    height: 500px;
    margin: auto;
    border: solid 0.2px;
    border-radius: 20px;
}
h1{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.descripciones{
    margin: 20px;
}
.btn-cerrar-modal{
    width: 300px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #000;
    color: #fff;
    position: absolute;
    bottom: 10px;
    margin: 0px 100px;
}
.btn-cerrar-modal:hover{
    background-color: #3475dc;
}
